/*-----------------------Chỉnh Thanh Menu----------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
            
li {
    float: left;
}
            
li a, .dropbtnn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
            
li a:hover, .dropdownn:hover .dropbtnn {
    background-color: slategray;
}
            
li.dropdownn {
    display: inline-block;
}
            
.dropdown-contentt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
            
.dropdown-contentt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
            
.dropdown-contentt a:hover {background-color: slategray}
            
.dropdownn:hover .dropdown-contentt {
    display: block;
}
    
/*----------------Đăng nhập----Đăng ký------------------*/

body {font-family: Arial, Helvetica, sans-serif;}

/* Các trường đầu vào toàn chiều rộng */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Kiểu thước kẻ ngang */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Xóa floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Đặt kiểu cho tất cả các nút */
button {
    background-color: white;
    color: black;
    padding: 20px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

button:hover {
    opacity: 1;
}

/* Kiểu bổ sung cho nút hủy */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Căn giữa hình ảnh và định vị nút đóng */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/*img.avatar {
    width: 10%;
    border-radius: 10%;
}--Không cần thiết--*/

.containerr {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Phương thức (nền) */
.modall {
    display: none; /* Ẩn theo mặc định */
    position: fixed; /* Ở lại trang */
    z-index: 1; /* Ở trên top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Kích hoạt cuộn nếu cần */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Phương thức Content/Box */
.modall-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% từ trên xuống, 15% từ dưới lên và ở giữa */
    border: 1px solid #888;
    width: 80%; /* Có thể nhiều hơn hoặc ít hơn, tùy thuộc vào kích thước màn hình */
}

/* Nút Đóng (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Thêm hoạt hình thu phóng */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Thay đổi kiểu cho nhịp và nút hủy trên màn hình nhỏ thêm */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

ul li.login{
   float: right;
}
ul li.dky{
   float: right;
}